.showcasegrid {
    color: #fff;
    border-radius: 4px;
    font-weight: 600;
    padding: 1.25rem 0;
    text-align: center;
}

.hwcontainer {
    max-width: 500px;
    color: #fff;
    border-radius: 4px;
    font-weight: 600;
    padding: 1.25rem 0;
    text-align: center;
}

.heroshowcase {
    color: white;
}

.nicebox {
    max-width: 300px;
    background-color: white;
}

.niceboxcontain {
    background-color: rgb(228, 228, 228);
    max-width: 400px;
    margin-left: 50px;
    padding: 50px 50px 50px 50px;
}